body{
	background-image: linear-gradient(to right, rgba(50,255,200,0.2), rgba(50,255,200,1));
}
.container{
	background-color: rgba(255,255,255,0.7);
	width: 50%;
	margin: auto;
}
h1{	
	font-style: italic;
	text-align: center;
	padding: 20px;
}
h5{
	color: brown;
	font-style: italic;
}
.btn-primary{
	float: right;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.error{
	color: red;
	font-style: italic;
	font-size: 12px;
}
.bold{
	font-weight: bold;
}